.DS_Store
.idea
*.tar
logs/*
internal/repo/a_repo-packr.go
bin
cover.out
coverage.out
coverage.txt
cover.html

imports/imports.go
goent.mod
goent.sum

testdata/
!internal/checker/testdata
/mockpier/main/config11/mockpier
/mockpier/main/config11/logs
/mockpier/main/config12/mockpier
/mockpier/main/config12/logs
/mockpier/main/config21/mockpier
/mockpier/main/config21/logs
/mockpier/main/config22/mockpier
/mockpier/main/config22/logs
